/*  your css code here. If applicable */
.container{
	display: grid;
	grid-template-columns: repeat(3,30%);
	grid-template-rows: repeat(3,30%);
}
.container div{
	padding: 10px;
}
.container #d1{
	background-color:yellow;
}
#d2{
	background-color:gray;
}
#d3{
	background-color:green;
}
#d4{
	background-color:blue;
}
#d5{
	background-color:violet;
}
#d6{
	background-color:orange;
}
#d7{
	background-color:purple;
}
#d8{
	background-color:lightblue;
}
#d9{
	background-color:yellowgreen;
}

